.Notes {
  @apply list-none;
  @apply text-xs;
  @apply px-0;
}

.Notes li {
  counter-increment: item-nr;
  @apply items-center;
  @apply flex;
}

.Notes li:before {
  content: counter(item-nr);
  border: 1px solid var(--light-gray);
  background-color: var(--light-gray);
  margin: 1rem 1rem 1rem 0;
  font-family: monospace;
  min-width: 1.25rem;
  color: var(--gray);

  @apply justify-center;
  @apply rounded-full;
  @apply items-center;
  @apply flex;
}
